.adventages__item {

    @media screen and (max-width:$lg) { 
    
    }

    @media screen and (max-width:$md) { 
        margin-bottom: 20px;
   
    }

    @media screen and (max-width:$sm) { 
        
    }
}

.adventages__item-heading {
    color: $headingcolor;
    margin-bottom: 20px;
}

.adventages__item-body {
    color: $lablecolor;
}

.adventages__item-icon-img {
    height: 30px;
    display: block;
    margin-bottom: 20px;
}

.adventages_center {
   

    .adventages__item-heading {
        text-align: center;
    }

    .adventages__item-icon-img {
        margin: 0 auto 20px;
    }
}

.adventages__list {
    @media screen and (max-width:$lg) { 
    
    }

    @media screen and (max-width:$md) { 
        
    }

    @media screen and (max-width:$sm) { 
        //flex-direction: column;
    }
}

.adventages__list_bg {
    background: #1BB7CD;

    .adventages__item-heading {
        color: white;
    }
    
    .adventages__item-body {
        color: white;
    }
}