.adventages__item {

    @media screen and (max-width:$lg) { 
    
    }

    @media screen and (max-width:$md) { 
        margin-bottom: 20px;
   
    }

    @media screen and (max-width:$sm) { 
        
    }
}

.adventages__item-heading {
    color: $headingcolor;
    margin-bottom: 20px;
}

.adventages__item-body {
    color: $lablecolor;
}

.adventages__item-icon-img {
    height: 30px;
    display: block;
    margin-bottom: 20px;
}

.adventages_center {
   

    .adventages__item-heading {
        text-align: center;
    }

    .adventages__item-icon-img {
        margin: 0 auto 20px;
    }
}

.adventages__list {
    @media screen and (max-width:$lg) { 
    
    }

    @media screen and (max-width:$md) { 
        
    }

    @media screen and (max-width:$sm) { 
        //flex-direction: column;
    }
}

.adventages__list_bg {
    background: #1BB7CD;
    position: relative;
    padding: 40px 0;
    /* overflow-y: hidden; */
    /* overflow-x: visible; */

    .text-special__heading {
        color: white;
    }
    
    .text-special__body {
        color: white;
    }

}

.adventages__list_bg::before {
    content: '';
    display: block;
    position: absolute;
    width: 20000px;
    background: #1BB7CD;
    height: 100%;
    left: -10000px;
    top: 0;
}

.about-wrapper {
    background: #1BB7CD;
    position: relative;
    margin-top: 40px;
    margin-bottom: -40px;

    .heading {
        color: white;
    }

    .text {
        color: white;
    }
}

.about-wrapper__inner {
    position: relative;
    margin: 0 auto;
    padding: 80px 80px;
    background-size: cover;
    background-image: url(https://wash2go.ae/images/bg/aboutbg.jpg);
    background-position: bottom;
    box-shadow: inset 0 0 50px 30px #2998a7;
}

.about-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    width: 20000px;
    background: #2998A7;
    height: 100%;
    left: -10000px;
    top: 0;
   
}

@-ms-keyframes spin { 
    from { 
        -ms-transform: rotate(0deg); 
    } to { 
        -ms-transform: rotate(360deg); 
    }
}
@-moz-keyframes spin { 
    from { 
        -moz-transform: rotate(0deg); 
    } to { 
        -moz-transform: rotate(360deg); 
    }
}
@-webkit-keyframes spin { 
    from { 
        -webkit-transform: rotate(0deg); 
    } to { 
        -webkit-transform: rotate(360deg); 
    }
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

.wheel {
    float: left;
    margin: 0 auto;
    position: relative;
    top: 0;
    z-index: 2;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px;
    margin-left: -60px;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;

    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

   
}