.booking-form {
    background: $white;
    border-radius: $border-radius;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: 0px 1px 1px #e8e8e8;

    @media screen and (max-width:$lg) { 
      
    }

    @media screen and (max-width:$md) { 
        flex-direction: column;
        box-shadow: none;
    }

    @media screen and (max-width:$sm) { 

    }
}

.booking-form__item {
    //width: 20%;
    //float: left;
    padding: 15px;
    flex-grow: 1;
    text-align: center;
}

.booking-form__item-lable {
    font-size: .8em;
    color: $lablecolor;
    margin-bottom: 10px;
}

.booking-form__b {
    padding: 20px;
    display: flex;
    cursor: pointer;
}

.booking-form__b-inner {
    background-color: $danger;
    border-radius: $border-radius;
    display: flex;
    align-items: center;
    padding: 20px;
    color: white !important;
    transition: background-color .2;
}

.booking-form__b-inner:hover {
    background-color: #419538;
}



.booking-form__item select {
    font-size: 1em;
}

.booking-form__item-total {
    color: $danger;
    font-size: 1.4em;
    font-weight: bold;
    padding-top: 6px;
}

.booking-form__wrapper {
    max-width: 800px;
    margin: 0 auto;
    margin-top: -73px;
    position: relative;
    border: 1px;

    @media screen and (max-width:$lg) { 
      
    }

    @media screen and (max-width:$md) { 
        margin-top: 0;
    }

    @media screen and (max-width:$sm) { 

    }
}

.booking-form__select {
    white-space: nowrap;
}

.booking-steps__heading {
    font-size: 2em;
    margin-bottom: 40px;
    text-align: center;
}

.booking-steps__card-item {
    text-align: center;
    border: 1px solid #ccd0d2;
    padding: 40px 10px;
    border-radius: 10px;
    background: white;
    margin-bottom: 30px;
}

.booking-steps__card-item:hover {
    box-shadow: 0 1px 3px #c4c4c4;
}

.booking-steps__card-item_selected {
    border: 1px solid #51b846;
}

.booking-steps__item {
    display: none;
}

.booking-steps__item_active {
    display: block;
}

.booking-steps__card-item-img {
    height: 30px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    max-width: 60px;
}

.booking-steps__list-item {
    margin: 10px 0;
    border: 1px solid #aaaaaa;
    padding: 20px;
    border-radius: 10px;
}

.booking-steps__list-item-checkbox {
    display: inline-block;
    border: 2px solid #aaaaaa;
    width: 20px;
    height: 20px;
    margin-bottom: -5px;
    border-radius: 5px;
    margin-right: 10px;

    .booking-steps__list-item-checkbox-i {
        width: 8px;
        height: 8px;
        margin-top: 4px;
        border-radius: 100%;
        margin-left: 4px;
        background: #52b947;
        display: none;
    }
}

.booking-steps__list-item-checkbox:hover {
    border-color: #52B947;
}

.booking-steps__list-item-checkbox_selected {
    border-color: #52B947;

    .booking-steps__list-item-checkbox-i {
        display: block;
    }
}

.so-modal__booking-form  {
    border: 1px solid #ccd0d2;
    padding: 20px;
    border-radius: 10px;
}

.so-modal__booking-form__logo {
    height: 30px;
    margin-right: 20px;
}

.so-modal__booking-form__lable {
    line-height: 30px;
    font-weight: bold;
    text-align: center;
}


.so-modal__booking-form__heading {
    margin: -20px -20px 20px;
    padding: 20px;
    border-bottom: 1px solid #ccd0d2;
    display: flex;
    flex-direction: row;

    @media screen and (max-width:$lg) { 
      
    }

    @media screen and (max-width:$md) { 
        flex-direction: column;
        .so-modal__booking-form__logo {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width:$sm) { 

    }
}

.booking-form__mobile-heading {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 40px;

    @media screen and (max-width:$md) { 
        margin-top: 20px;
    }
}


.booking-form__mobile {
    position: absolute;
    right: 40px;
    padding: 0 40px;
    margin-top: 175px;
    bottom: 0;
 
    background: white;
    padding-top: 40px;
    width: 288px;

    @media screen and (max-width:$lg) { 
      
    }

    @media screen and (max-width:$md) { 
        position: static;
        max-width: 500px;
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
        margin-top: 20px;
    }

    @media screen and (max-width:$sm) { 

    }
}

.booking-steps__wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.booking-steps__wrapper .so-modal__booking-form__heading {
    display: none;
}

.booking-steps__confirm {
    border: 1px solid #e8e8e8;
    padding: 20px;
    margin-bottom: 20px;
}

.booking-steps__confirm-price {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    border: 1px solid #e8e8e8;
    padding: 20px;
}

.booking-steps__confirm-item {
    margin: 10px 0;
}

.booking-steps__confirm-lable {
    color: #b5b5b5;
    /* font-weight: bold; */
    min-width: 100px;
    display: inline-block;
}

.booking-steps__confirm-heading {
    text-align: center;
    border-bottom: 2px solid #e8e8e8;
    margin-bottom: 10px;
    color: #b5b5b5;
    font-size: 1.4em;
    display: inline-block;
    margin: 0 auto 10px;
}

.booking-steps__validation {
    text-align: center;
    border: 1px solid #ffa9a9;
    margin: 0 0 20px;
    padding: 20px 0;
    border-radius: 10px;
    display: none;
}