.footer {
    background: $dark;
    //background-image: url('../resourse/images/bg/desc.jpg');
    width: 100%;
    padding: 40px 0;
    color: $light;
}

.footer__item_heading {
    font-weight: bold;
}

.footer__item a {
    color: white;
}

.footer__item a:hover {
    color: white;
    opacity: .8;
}