.news__item-inner {
    max-width: 500px;
    margin: 0 auto;
}

.news__item {
    margin: 40px auto;
}

.news__item-img {
    width: 100%;
    margin-bottom: 20px;
    
}

.news-item__body {
    color: $headingcolor;
    margin-top: 20px;
}