.product-card {
    margin-bottom: 20px;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.product-card__img {
    width: 100%;
    padding-top: 66.66666%;
    margin-bottom: 10px;
    display: block;
    background-size: cover !important;
    position: relative;
    background-color: #f4f4f4;
    background-image: url('http://127.0.0.1:8000/images/example/1.jpg');
}

.product-card__title {
    font-weight: bold;
    display: inline-block;
}

.product-card__price {
    font-weight: bold;
    float: right;
}


.product-card__body {
    font-size: 1.2em;
    position: relative;
}

.product-card__add-to-card-b {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.product-card__marked {
    position: absolute;
    left: 0;
    bottom: 0;
}

.product-card__new {
    padding: 10px 20px;
    display: inline-block;
    font-weight: bold;
    background: $fresh;
    color: $light;
}

.product-card_square .product-card__img{
    padding-top: 100%;
}