.shopping-card {
    margin: 40px 0;
}

.shopping-card__title {
    font-weight: bold;
}

.shopping-card__item-prev {
    width: 100%;
    margin-right: 15px;
    float: left;
    max-width: 150px;
}

.shopping-card__item-prev-img {
    width: 100%;
}

.shopping-card__item-title {
    font-weight: bold;
}

.shopping-card__item-price {
    margin-bottom: 10px;
}

.shopping-card__list {
    margin-bottom: 40px;
}

.shopping-card__item {
    margin-bottom: 20px;
}