.shopping-card {
    margin: 40px 0;
}

.shopping-card__title {
    font-weight: bold;
}

.shopping-card__item-prev {
    width: 200px;
    background-size: cover !important;
    background-position: center !important;
    height: 98px;
    border-radius: 3px;
    margin-right: 15px;
    float: left;
    max-width: 150px;
    display: block;
}

.shopping-card__item-prev-img {
    width: 100%;
}

.shopping-card__item-title {
    font-weight: bold;
}

.shopping-card__item-price {
    margin-bottom: 10px;
}

.shopping-card__list {
    margin-bottom: 40px;
}

.shopping-card__item {
    margin-bottom: 20px;
    border: 1px solid #f0f0f0;
    padding: 10px;
    border-radius: 10px;
}

.shopping-card__item:after {
    clear:both;
    display: block;
    content: '';
}

.shopping-card__item-inner {
    float: left;
}

.shopping-card__item-price-total {
    margin-top: 10px;
}

.shopping-card__total-big {
    font-weight: bold;
}