.subscribe {
    padding: 40px 0;
    background: $danger;
    color: $light;
}

.subscribe__lable {
    font-weight: bold;
    color: $light;
}

.subscribe_white {
    background: white;

    .subscribe__heading  {
        color: $black;
    }
}

.subscribe__form {
    justify-content: center;
    margin-top: 20px;
}

