.sidebar {
    max-width: 300px;
    margin: 0 auto;
}

.sidebar__item {
    border: 1px solid #f0f0f0;
    margin-bottom: 20px;
    border-radius: 10px;
}

.sidebar__item-header {
    padding: 20px;
    border-bottom: 1px solid #f0f0f0;
}

.sidebar__item-body {
    padding: 20px;
}