// Add additional styles here. For example, overwrite certain styles or add new components.
// Tip: You can use bootstrap's powerful mixins here!


//.alert-myalert {
//  @include alert-variant(#60667d, #1d1d1d, #f4fdff);
//}

//@each $color, $value in $theme-colors {
//  .alert-#{$color} {
//    box-shadow: 3px 3px theme-color-level($color, -3);
//  }
//}



.navbar {
    border-bottom: 1px solid $lighter;
}

.navbar-nav {
    font-size: 1.2em;
}

a {
    color: $dark;
}

a:hover {
    color: $danger;
}

.sector {
    margin: 40px 0;
}


.welcome-fullscreen__data {
    text-align: left !important;
}

.footer {
    background-image: none !important;
}

.product__image-img {
    max-width: 300px !important;
}

.header__logo {
    margin-right: 40px !important;
}

.so-content_windows-open {
    margin-left: 0 !important;
}

.so-modal__close {
    display: block;
    margin: 0 auto;
}

.navigation-modal {
    margin: 0 auto;
}

.welcome-fullscreen {
    padding-top: 82px;
}

#so-modal__shadow {
    opacity: 1 !important;
}


.owl-dots {
    
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.mt-5 {
    margin-top: 40px;
}

body {
    font-family: Futura Md BT;
}

.welcome-fullscreen-owl {
    //filter: grayscale(100%);
}


.welcome-fullscreen__static {
    max-width: initial;
    //background: #3fbec9c4 !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#52b947+0,52b947+68&1+0,0+67 */
background: -moz-linear-gradient(top, rgba(82,185,71,1) 0%, rgba(82,185,71,0) 67%, rgba(82,185,71,0) 68%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(82,185,71,1) 0%,rgba(82,185,71,0) 67%,rgba(82,185,71,0) 68%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(82,185,71,1) 0%,rgba(82,185,71,0) 67%,rgba(82,185,71,0) 68%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b947', endColorstr='#0052b947',GradientType=0 ); /* IE6-9 */
}

.footer {
    background: #52B947;
}

.content__inner {
    padding-top: 40px;
    padding-bottom: 20px;
}


.booking-mobile {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 90px;
    cursor: pointer;
 }

.booking-mobile__img {
    width: 100%;
}

.gm-style-mtc {
    display: none !important;
}
.gm-svpc {
    display: none !important;
}

.gm-fullscreen-control {
    display: none !important;
}

.lable {
    color: #cbcbcb;
}


.lable_black {
    color: #636b6f;
}

.black {
    color: #636b6f;
}

.text-slider {
    @media screen and (max-width:$lg) { 
      
    }

    @media screen and (max-width:$md) { 
        font-size: 2em !important;
    }

    @media screen and (max-width:$sm) { 
        font-size: 1.5em !important;
    }
}

.slick-dots li button:before {
    display: none;
}